* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: aquamarine;
    color: black;
    cursor: pointer;
}

.active {
    background-color: rgb(142, 142, 142);
    color: rgb(255, 0, 0);
}