* {
    box-sizing: border-box;
}
.sidebar {
    width: 25%;
    float: left;
}

.sidebar .boton {
    background: red;
    display: block;
    color: white;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 30px;
}

.sidebar .boton:hover {
    background-color: rgb(248, 185, 39);
    color: black;
    cursor: pointer;
}

.sidebar .active {
    background-color: #4bf321 !important;
    color: rgb(255, 0, 0) !important;
}