<div class="sidebar">
    <a class="boton" [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
    <a class="boton" [routerLink]="['contenido']" routerLinkActive="active">Contenido</a>
    <a class="boton" [routerLink]="['lista']" routerLinkActive="active">Lista</a>
    <a class="boton" [routerLink]="['productos']" routerLinkActive="active">Productos</a>
    <a class="boton" [routerLink]="['contacto']" routerLinkActive="active">Contacto</a>
</div>
